.root {
  height: 100%;
  width: 100%;
}

.menuButton {
  margin-right: 16;
}

.list {
  width: 250px;
}

.sliderRoot{
  max-width: 100%;
  flex-grow:1;
  width: 100%;
  padding-bottom: 5rem;
  height: 80%;
}

.container{
  display:flex;
  justify-content:center;
  align-items:center;
  height: 85%;
  overflow-y: scroll;
}

.listTitle{
  display:flex;
  justify-content:center;
  align-items:center;
}

.centeredDiv{
  height: 100%;
}

.bottomNavRoot{
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  bottom: 0px;
}

.bottomNavChild{
  position: fixed;
  width: 100%;
  justify-content: center;
  bottom: 0px;
}

.button {
  margin-top: 8px;
  margin-right: 8px;
}

.actionsContainer {
  margin-bottom: 16px;
}

.resetContainer {
  padding: 24px;
}
